* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior:smooth;
}

html, body {
    margin: 0;
    background-color: #F5F5F9;
  }


   /* NAVBAR */

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fcfcfc;
    position: sticky; /* Makes the navbar sticky */
    top: 0; /* Sticks to the top of the viewport */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow for better visibility */
    z-index: 10;

  }
  
  .navbar-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-size: 14px;
    font-weight: 400;
  }
  
  .navbar-links a {
    text-decoration: none;
    transition: color 0.3s;
    color: #666666;
  }
  
  .navbar-links a:hover {
    color: #000000;
  }
  
  /* Responsive design */
  .navbar-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
  }
  
  .navbar-links.active {
    display: block;
    flex-direction: column;
    gap: 1rem;
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      gap: 1rem;
      background-color: #444;
      padding: 1rem;
      position: absolute;
      top: 4rem;
      right: 1rem;
      border-radius: 5px;
    }
  
    .navbar-toggle {
      display: block;
    }
  }

  
 /* Hero Section */

.hero {
  background: linear-gradient(-45deg, #6A6EC6, #6A84C6, #926AC6, #6A6EC6);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: calc(100svh);
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}
  
.hero-logo {
    width: 60%;
    height: auto;
    object-fit: contain;
}

.hero-logo img {
    width: 100%
}

.hero h2 {
        font-size: 1.8rem;
        font-weight: 600;
        color: #F5F5F9;
}

.hero-body {
    display: flex;
    overflow: hidden;
    padding: 2rem 0rem 2rem 8rem;
}


.hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1;
    height: 100vh;
    overflow: hidden;  /* Prevents image overflow */
}

.hero-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 2rem;
}

.hero-wrapper img {
    max-height: 90%;
    width: auto;
    object-fit: contain;
}

 /* Desktop Mockup */
 .desktop-mockup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0rem 8rem 4rem 8rem;
 }


 /* LOGO BANNER */

.logobanner {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  padding: 1rem 1rem;
  gap: 6rem;
  background: linear-gradient(-45deg, #6A6EC6, #6A84C6, #926AC6, #6A6EC6);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.logobanner img {
  width: 100%;
}

.main-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    gap: 4rem;
    width: 100%;
}


 /* Main Body Fonts */
.main-layout h1 {
    font-size: 2rem;
    color: #6A6EC6; 
}

.main-layout h2{
    font-weight: 600;
    font-size: 1rem;
}

.main-layout ul{
    font-weight: 600;
    font-size: 1rem;
}

li {
    list-style-position: inside;
    padding-left: 20px;
    text-indent: -20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 2rem;
}

.body-texts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.container-img-wrapper {
    max-width: 1440px;
    height: auto;
}

.container-img-wrapper img {
    max-width: 100%;
    height: auto;
}

/* stats-container */
.stats-container {
  display: flex;
  gap: 1rem;
  width: 800px;
  height: 230px;
}

/* statscard */
.statscard {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F9;
  padding: 1rem;
  border-radius: 1rem;
  width: 230px;
  gap: 1rem;
}

.statscard h1 {
  font-weight: 600;
}

.persona-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #F5F5F9;
    padding: 2rem;
    border-radius: 1.5rem;
}

.persona-container h1 {
    font-weight: 600;
    color: #6A6EC6;
    font-size: 1.8rem;
}

.type-showcase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F5F5F9;
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem;
}

.color-showcase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #6A6EC6;
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem;
  color: #fff;
}

.color-showcase h1{

  color: #fff;
}

.end-marker {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 800px;
    font-size: 0.8rem;
    color: #666666;
}

.end-line {
    height: 1px;
    width: 100%;
    background-color: #666666;
}

@media (max-width: 768px) {
    /* Styles for mobile */
    .hero-body {
        flex-direction: column;
        padding: 2rem 1rem 2rem 1rem;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    .hero-text-wrapper {
      justify-content: flex-start;
    }

    .hero-logo {
        width: 100%;
    }
    .hero-wrapper {
        flex: 2;
    }
    
    .main-layout {
        padding: 1.2rem;
        gap: 2rem;
    }

    .main-container {
      padding-top: 2rem;
    }

    .main-layout h1 {
        font-size: 1.4rem;
    }

    .stats-container {
      flex-direction: column;
      width: 100%;
      height: auto;
    }

    .statscard {
      aspect-ratio: unset;
      gap: 0.5rem;
      padding: 1rem 1rem 2rem 1rem;
      border-radius: 0.5rem;
      width: 100%;
    }

    .end-marker {
      width: 90vw;
    }
    
   }

/* Basic carousel styles */
.carousel {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 2rem 0; /* Optional padding for top and bottom */
    width: 100%;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    gap: 2rem; /* Spacing between images */
    transition: transform 0.5s ease-in-out;
    /* Make sure to set a width or max-width here to control slide width */
    max-width: 100%; /* Ensure it's within the screen */
}
  
  .carousel-slide img {
    height: 80vh;
    flex-shrink: 0;
    border-radius: 2rem; /* Optional: adds rounded corners */
    object-fit: cover; /* Ensures the image fills the container neatly */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Adds subtle shadow for a polished look */
  }
  
  
  .carousel-wrapper, .carousel-slide {
    overflow: visible; /* Prevents clipping */
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 3rem;
}

.indicator {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: #6A6EC6; /* Highlight active marker */
}

/* Hide the carousel on larger screens */
@media (min-width: 768px) {
    .carousel {
      display: none; /* Hides the carousel on screens larger than 768px */
    }
    .desktop-mockup {
        display: flex
    }
    .carousel-indicators{
        display: none;
    }
  }
  
  /* Display the carousel on smaller screens */
  @media (max-width: 767px) {
    .carousel {
      display: block; /* Displays the carousel on screens smaller than 768px */
    }
    .desktop-mockup {
        display: none
    }
  }

  /* Scroll Fade Class */
.scroll-fade {
  opacity: 0;
}

.title-fade {
  opacity: 1;
  animation: title-fade 1s;
}

/* animate the titles */
@keyframes title-fade {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  10% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
