/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400; /* Change weight as needed */
    font-style: normal;
}

/* Set body background and default text color */
body {
    background: #f7f7f7;
    color: #161616;
}

header {
    background: #f7f7f7;
    color: #161616;
    padding: 20px;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

header img {
    height: 1.5rem;
}

nav ul {
    display: flex;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #161616;
    text-decoration: none;
    font-weight:400;
    font-size: 0.875rem;
}


/* body content */

h1 {
    font-size: 3rem;
    font-weight: 400;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

h4 {
    font-size: 1rem;
    font-weight: 500;
}

p {
    color: #636363;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title-style {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

/* hero section */

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    text-align: center;
    padding: 15svh 4rem 4rem 4rem;
}

.hero-content-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.cta-platform {
    border: #c6c6c6 1px solid;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

.cta-platform-text {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 0.875rem;
}

.cta-button-dark {
    background-color: #161616;
    padding: 0.625rem;
    border-radius: 10rem;
    width: 350px;
}

.cta-button-dark p {
    color: #fff;
    font-size: 1.125rem;
}

/* about section */

.about {
    background-color: #161616;
}

.about h2 {
    color: #fff;
}

.about p {
    color: #e8e8e8;
    font-weight: 400;
}

.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 4rem;
    width: 60vw;
}

.about-texts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items:flex-start;
    max-width: 600px;
}

/* the 2.0 formula section */

.the20formula-container {
    width: 1000px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.formula-card {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
}

.formula-card-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 4;
}

/* final cta section */

.final-cta {
    background-color: #161616;
}

.final-cta h2 {
    color: #fff;
    font-size: 1.8rem;
}

.final-cta p {
    color: #e8e8e8;
    font-weight: 400;
}

.final-cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 4rem;
    width: 60vw;
}

.final-cta-container-texts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items:center;
    max-width: 1000px;
    text-align: center;
    line-height: 2;
}

.final-cta-container-texts .title-style {
    align-items: center;
}

.cta-button-light {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 0.625rem;
    border-radius: 10rem;
    width: 350px;
}

.cta-button-light p {
    color: #161616;
    font-size: 1.125rem;
    font-weight: 500;
}

/* the 2.0 formula section */

.faq-container {
    width: 1000px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.faq-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.faq-question {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color:#f0f0f0;
    padding: 1.5rem;
    border-radius: 1rem;
}

.faq-title-chevron {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.faq-text {
    max-height: 0; /* Start hidden */
    overflow: hidden;
    transition: max-height 0.2s ease-in-out, padding 0.2s ease-in-out;
    padding: 0; /* Remove padding when hidden */
}

.faq-text.open {
    max-height: 200px; /* Adjust based on content height */
    padding: 10px 0; /* Add padding when visible */
}