* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior:smooth;
}

html, body {
    margin: 0;
    background-color: #f1f1f1;
  }

   /* NAVBAR */

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fcfcfc;
    position: sticky; /* Makes the navbar sticky */
    top: 0; /* Sticks to the top of the viewport */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow for better visibility */
    z-index: 10;
  }
  
  .navbar-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-size: 14px;
    font-weight: 400;
  }
  
  .navbar-links a {
    text-decoration: none;
    transition: color 0.3s;
    color: #666666;
  }
  
  .navbar-links a:hover {
    color: #000000;
  }
  
  /* Responsive design */
  .navbar-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
  }
  
  .navbar-links.active {
    display: block;
    flex-direction: column;
    gap: 1rem;
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      gap: 1rem;
      background-color: #444;
      padding: 1rem;
      position: absolute;
      top: 4rem;
      right: 1rem;
      border-radius: 5px;
    }
  
    .navbar-toggle {
      display: block;
    }
  }

  
 /* Hero Section */

.hero {
background-color: #f1f1f1;  
height: calc(100svh - 3rem);
}
  
.hero-logo {
    width: 60%;
    height: auto;
    object-fit: contain;
}

.hero-logo img {
    width: 100%
}

.hero h2 {
        font-size: 3rem;
        font-weight: 600;
        color: #111111;
        width: fit-content;
}

.hero-body {
    display: flex;
    justify-content: center;
    height: calc(100svh - 3rem);
}


.hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.hero-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-right: 10rem;
}

.hero-text-wrapper img {
  max-height: 6rem;
  width: auto;
}

.hero-wrapper img {
    max-height: 80%;
    width: auto;
    object-fit: contain;
}

 /* Desktop Mockup */
 .desktop-mockup {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    background-color: #f8f8f8;
 }


.main-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    gap: 4rem;
    width: 100%;
}


 /* Main Body Fonts */
.main-layout h1 {
    font-size: 1.5rem;
    color: #111111; 
    font-weight: 600;
}

.main-layout h2{
    font-weight: 600;
    font-size: 1rem;
}

.main-layout ul{
    font-weight: 600;
    font-size: 1rem;
}

li {
    list-style-position: inside;
    padding-left: 20px;
    text-indent: -20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 2rem;
}

.body-texts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.container-img-wrapper {
    max-width: 1440px;
    height: auto;
}

.container-img-wrapper img {
    max-width: 100%;
    height: auto;
}



.end-marker {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 800px;
    font-size: 0.8rem;
    color: #666666;
}

.end-line {
    height: 1px;
    width: 100%;
    background-color: #666666;
}


@media (max-width: 768px) {
    /* Styles for mobile */
    .hero-body {
        flex-direction:column-reverse;
        padding: 2rem 1rem 2rem 1rem;
        justify-content: flex-start;
        text-align: center;
    }

    .hero h2 {
      width: 100%;
      font-size: 2.5rem;
    }

    .hero-text-wrapper {
      justify-content: flex-start;
      padding: 0;
      gap: 1rem;
      width: auto;
    }

    .hero-wrapper{
      height: 60vh;
    }
    .hero-logo {
        width: 100%;
    }

    .hero-logo img {
      width: 60%;
    }
  
    
    .main-layout {
        padding: 1.2rem;
        gap: 2rem;
    }

    .main-container {
      padding-top: 2rem;
    }
    
    .main-layout h1 {
        font-size: 1.4rem;
    }

    .end-marker {
      width: 90vw;
    }
    
    .introduction {
      padding: 0;
    }

    .introduction h1 {
      font-weight: 500;
      font-size: 1rem;
      text-align: left;
    }
   }

/* Scroll Fade Class */
.scroll-fade {
  opacity: 0;
}

.title-fade {
  opacity: 1;
  animation: title-fade 1s;
}

/* animate the titles */
@keyframes title-fade {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  10% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


